<div class="catalog">

  <sidebar class="catalog__sidebar" 
    facets="$ctrl.facets" 
    activate-facet="$ctrl.activateFacet(facet, filter)"
    deactivate-facet="$ctrl.removeFacet(facet, filter)"
    deactivate-all="$ctrl.removeAll($ctrl.facets)">
  </sidebar>

  <div class="catalog__main">
    <filters
      views="$ctrl.topControls.views"
      display-limits="$ctrl.topControls.productsShown"
      sorting="$ctrl.topControls.sorting"
      sort-type="$ctrl.sortType"
      re-sort="$ctrl.sortItems(newType)">  
    </filters>
    
    <display class="catalog__display" 
      items="$ctrl.items">
    </display>
  </div>
</div>