<div class="display">
  <div class="display__item" ng-repeat="item in $ctrl.items">
    
    <div class="display__item__image" ng-style="{'background-color': item.bgColor}">
      <img src="{{item.img}}" ng-if="!item.bgColor" />
      <span class="display__item__image__spanribbon" 
           ng-if="item.ribbon && item.bgColor" 
           ng-class="{'red': item.ribbon==='Sale'}">
           {{item.ribbon}}</span>
      <div class="display__item__image__ribbon" 
           ng-if="item.ribbon" 
           ng-class="{'red': item.ribbon==='Sale'}">
        {{item.ribbon}}
      </div>
    </div>

    <div class="display__item__description">
      <div class="display__item__description__name">{{item.name}}</div>

      <div class="display__item__description__rating">
        <span class="display__item__description__rating--yes">
        {{'&#9733; '.repeat(item.rating.toFixed(0))}}</span>
        <span class="display__item__description__rating--no">
        {{'&#9734;'.repeat(5-item.rating.toFixed(0))}}</span>
      </div>

      <div class="display__item__description__price">
        <div class="display__item__description__price--regular"
             ng-class="{'striked' : item.price.special }">${{item.price.regular || item.price}}</div>
        <div class="display__item__description__price--special" ng-if="item.price.special">${{item.price.special}}</div>
      </div>
    </div>

    <div class="display__item__colors">
      <div class="display__item__colors__color" ng-repeat="color in item.colors"
        ng-style="{'background-color': color.code}" ng-click="item.bgColor=color.code">
      </div>
    </div>


  </div>
</div>